*{
    margin:0;
    padding: 0;
}

body{
    width: 1200px;
    margin:20px auto;
}

.box3{
    background-color:#07cbc9;
}

/* header区域 */
header{
        height: 100px;
        overflow: hidden;
        position:relative;
    background-color: #07cbc9;

}
.log{
    float: left;
    position:absolute;
    top:50%;
    margin-top:-24px;
    left:20px;
}
.nav{
    float:right;
    width:60%;
    height:100px;
    /* background-color: pink; */
    position:relative;
}
.nav ul{
    position: absolute;
    bottom:0;
}

.nav ul li{
    float: left;
    list-style: none;
    font:16px/50px  Georgia ,"宋体";
    /* 字体水平居中 */
    text-align: center;
}
.nav ul li a{
    display: block;
    text-decoration: none;
    width: 120px;
    height: 50px;
}
.nav ul li:hover{
    background-color: gold;
}

/* banner区域 */
.banner{
    position:relative;
}
.img img{
    width:1200px;
}
.form{
    position:absolute;
    width:600px;
    height:564px;
    top: 50%;
    margin-top:-282px;
    left:50%;
    margin-left:-300px;
}

.form input:first-child{
    margin-top:100px;
}
.form  input, .form textarea{
    display: block;
    width:504px;
    height: 40px;
    margin:20px auto;
    color:#808080;
    background-color: transparent;
    border: 2px solid #808080;

}
.form input::placeholder, .form textarea::placeholder{
    color:rgba(245, 245, 245, 0.623);
}
.form  textarea{
    height:110px;
}
.form  input:last-child{
    width:200px;
    height: 40px;
    color:rgba(245, 245, 245, 0.623);
    font: bold 16px/1.5 Arial;
}

.form  input:last-child:hover{
    background-color: gold;
    color:tomato
}

/* about上部分 */
.part1 .title{
    text-align: center;
    font: bold 32px/1.5 'Courier New', Courier, monospace;
}
.line{
    width: 60px;
    height: 3px;
    margin:10px auto;
    background-color: #07cbc9;
}
.part1 .desc{
    width:300px;
    text-align: center;
    color: grey;
    font-size: 14px;
    line-height: 1.5;
    margin: 0 auto;
}
/* about下部分 */
.about .part2{
    /* background-color: pink; */
    /* overflow: hidden; */
    height: 465px;
}

.about .part2 .a-left{
    float:left;
    width: 275px;
    /* background-color: red; */
}

.about .part2 .a-left .title{
    width: 200px;
    text-align: left;
    font: bold 32px/1.5 'Courier New', Courier, monospace;
    margin-top:30px;
}
.about .part2 .a-left .desc{
    position: absolute;
    width: 300px;
    height: 150px;
    padding: 20px;
    font-size: 18px;
    border: 1px solid grey;
    background-color: rgba(255,255,255,0.5);
}

.about .part2 .a-left .desc  a{
    width:100px;
    height: 40px;
    display: block;
    text-decoration: none;
    text-align: center;
    font: normal 16px/40px  'Courier New', Courier, monospace;
    color:white;
    background-color:black;
}
.about .part2 .a-left .desc  a:hover{
    background-color:gold;
}

.about .part2 .a-center{
    float:left;
    margin-top:30px
}
.about .part2 .a-right{
    float:right;
    margin-top:30px;
    width: 260px;
}

.about .part2 .a-right ul li{
    float:right;
    list-style: none;
    text-align: center;
    width:250px;
    height:160px;
    border: 2px solid #07cbc9;
    margin-bottom: 30px;
}
.about .part2 .a-right ul li .num{
    margin-top:40px;
    font: bold 26px/1.5 'Courier New', Courier, monospace;
}
.about .part2 .a-right ul li div{
    font-family: 'Courier New', Courier, monospace;
}
/* 图文混排区 */
.m_items{
    width:100%;
    background-color: yellow;
}
.m_items .item{
    width:25%;
    height: 300px;
    float:left;
    background-color: #07cbc9;
    /* 清除浮动 */
    overflow: hidden;
    /* text-align: center; */
}
.m_items .item a{
    width:100px;
    height: 40px;
    display: block;
    text-decoration: none;
    text-align: center;
    font: normal 16px/40px  'Courier New', Courier, monospace;
    color:white;
    background-color:black;
    margin:10px auto;
}
.m_items .item  a:hover{
    background-color:gold;
}
.m_items .item .article{
    padding:20px;
}
.m_items .item .article .title{
    color: white;
    text-align: left;
    font: bold 24px/1.5 'Courier New', Courier, monospace;
}
.m_items .item .article div:nth-child(2){
    font:normal 16px/1.2 Aria;
    color:whitesmoke;
    margin-bottom:20px;
}
.m_items .item .article div:nth-child(3) {
    font:normal 14px/1.2 Aria;
    color:grey;
    margin-bottom: 40px;
}
/* gallary区域 */
.gallery .part2{
    overflow: hidden;
    margin-top: 20px;
}
.gallery .part2 dl{
    width: 360px;
    height: 290px;
    float:left;
    margin-right: 60px;
    margin-bottom: 30px;
}
.gallery .part2 dl:nth-child(3),.part2 dl:nth-child(6){
    margin-right: 0;
}
.gallery .part2 dl dt{
    height: 240px;
}
.gallery .part2 dl dd{
    height: 50px;
    background-color: black;
    color:whitesmoke;
    font: bold 16px/50px Aria;
}
/* footer区域 */
footer{
    position: relative;
    width: 100%;
    height: 80px;
    background-color: #07cbc9;
}
footer p{
    position: absolute;
    width: 600px;
    height: 30px;
    /* background: red; */
    top:50%;
    left: 50%;
    margin-top: -15px;
    margin-left: -300px;
    text-align: center;
    line-height: 30px;
}


